.header {
  background:#007bff;
  color:#fff;
  padding:12px 25px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index:100;
}

.schoolName {
  font-size:1.2em;
  font-weight:bold;
}

nav ul {
  list-style:none;
  display:flex;
  gap:20px;
}

nav ul li a {
  color:#fff;
  text-decoration:none;
  font-weight:bold;
}

.applyNow {
  background:#0056b3;
  padding:6px 12px;
  border-radius:5px;
}

/* HERO */
.hero {
  position:relative;
  height:420px;
  overflow:hidden;
}

.slide {
  position:absolute;
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  opacity:0;
  transition:opacity 1s;
}

.active {
  opacity:1;
}
